# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Prisma
yarn-error.log/
vendor/
tmp/
dist/
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
